{% extends "admin/layout.html.twig" %}

{% trans_default_domain "admin" %}

{% block title %}
    {{ "page.user_show.title"|trans({ username: user.profile.username }) }}
{% endblock %}

{% block description %}
    {{ "page.user_show.description"|trans({ username: user.profile.username }) }}
{% endblock %}

{% block main_title %}
    {{ "page.user_show.title"|trans({ username: user.profile.username }) }}
{% endblock %}

{% block main_body %}
    <div class="relative overflow-x-auto w-full">
        <table class="w-full text-sm text-left">
            <tbody>
                <tr class="bg-neutral-100 border-b dark:bg-neutral-800 dark:border-neutral-700">
                    <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                        {{ "common.id"|trans }}
                    </th>
                    <td class="px-6 py-4">
                        {{ user.id }}
                    </td>
                </tr>
                <tr class="bg-neutral-100 border-b dark:bg-neutral-800 dark:border-neutral-700">
                    <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                        {{ "user.email"|trans({}, "tables") }}
                    </th>
                    <td class="px-6 py-4">
                        {{ user.email }}
                    </td>
                </tr>
                <tr class="bg-neutral-100 border-b dark:bg-neutral-800 dark:border-neutral-700">
                    <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                        {{ "user.roles"|trans({}, "tables") }}
                    </th>
                    <td class="px-6 py-4">
                        {{ user.roles ? user.roles|map(role => "user.role.#{role|lower}"|trans({}, "tables"))|join(", ") }}
                    </td>
                </tr>
                <tr class="bg-neutral-100 border-b dark:bg-neutral-800 dark:border-neutral-700">
                    <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                        {{ "user.verified"|trans({}, "tables") }}
                    </th>
                    <td class="px-6 py-4">
                        {{ ("common." ~ (user.verified ? "yes" : "no"))|trans }}
                    </td>
                </tr>
                <tr class="bg-neutral-100 border-b dark:bg-neutral-800 dark:border-neutral-700">
                    <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                        {{ "user.username"|trans({}, "tables") }}
                    </th>
                    <td class="px-6 py-4">
                        {{ user.profile.username }}
                    </td>
                </tr>
                <tr class="bg-neutral-100 border-b dark:bg-neutral-800 dark:border-neutral-700">
                    <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                        {{ "user.description"|trans({}, "tables") }}
                    </th>
                    <td class="px-6 py-4">
                        {{ user.profile.description }}
                    </td>
                </tr>
                <tr class="bg-neutral-100 border-b dark:bg-neutral-800 dark:border-neutral-700">
                    <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                        {{ "user.picture"|trans({}, "tables") }}
                    </th>
                    <td class="px-6 py-4">
                        <div class="w-fit">
                            {{ component("avatar", { user, small: false }) }}
                        </div>
                    </td>
                </tr>
                <tr class="bg-neutral-100 border-b dark:bg-neutral-800 dark:border-neutral-700">
                    <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                        {{ "user.categories"|trans({}, "tables") }}
                    </th>
                    <td class="px-6 py-4">
                        {{ user.roles ? user.profile.categories|map(category => category.name)|join(", ") }}
                    </td>
                </tr>
                <tr class="bg-neutral-100 border-b dark:bg-neutral-800 dark:border-neutral-700">
                    <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                        {{ "common.created_at"|trans }}
                    </th>
                    <td class="px-6 py-4">
                        {{ user.createdAt ? user.createdAt|format_datetime : "" }}
                    </td>
                </tr>
                <tr class="bg-neutral-100 border-b dark:bg-neutral-800 dark:border-neutral-700">
                    <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                        {{ "common.updated_at"|trans }}
                    </th>
                    <td class="px-6 py-4">
                        {% set updatedAt = [user.updatedAt ?? null, user.profile.updatedAt ?? null, user.profile.picture.updatedAt ?? null]|sort|last %}
                        {{ updatedAt ? updatedAt|format_datetime : "" }}
                    </td>
                </tr>
                <tr class="bg-neutral-100 border-b dark:bg-neutral-800 dark:border-neutral-700">
                    <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                        {{ "common.created_by"|trans }}
                    </th>
                    <td class="px-6 py-4">
                        {% if user.createdBy %}
                            <a href="{{ path("admin_user_show", { id: user.createdBy.id.toBase32 }) }}">
                                {{ user.createdBy.profile.username }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
                <tr class="bg-neutral-100 dark:bg-neutral-800">
                    <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                        {{ "common.updated_by"|trans }}
                    </th>
                    <td class="px-6 py-4">
                        {% set updatedBy = user.updatedAt ? (user.updatedBy ?? user.profile.updatedBy) : (user.profile.updatedAt ? user.profile.updatedBy : null) %}
                        {% if updatedBy %}
                            <a href="{{ path("admin_user_show", { id: updatedBy.id.toBase32 }) }}">
                                {{ updatedBy.profile.username }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="btn-group items-center justify-center">
        {{ component("button", { button: false, content: "common.back_to_list"|trans, class: "btn-outline", variant: "info", centered: false, ghost: true, href: path("admin_user") }) }}
        {{ component("button", { button: false, content: "common.edit"|trans, class: "btn-outline", variant: "success", centered: false, ghost: true, href: path("admin_user_edit", { id: user.id.toBase32 }) }) }}
    </div>
{% endblock %}
