{% extends "layout.html.twig" %}

{% block title %}
    {{ "page.login.title"|trans }}
{% endblock %}

{% block main_body %}
    <section>
        <div class="mx-auto flex flex-col items-center px-6 py-8 lg:py-0">
            <a href="#" class="mb-6 flex items-center justify-center text-2xl font-semibold text-neutral-900 dark:text-neutral-100">
                <img src="{{ asset('logo.png') }}" alt="logo">
            </a>
            <div class="w-full rounded-lg bg-neutral-100 shadow dark:border dark:border-neutral-700 dark:bg-neutral-800 sm:max-w-md md:mt-0 xl:p-0">
                <div class="space-y-4 p-6 sm:p-8 md:space-y-6">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-neutral-900 dark:text-neutral-100 md:text-2xl">
                        {{ 'common.login'|trans }}
                    </h1>
                    <form method="post" class="space-y-4 md:space-y-6">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token("authenticate") }}" />

                        {% if error %}
                            <div class="mt-8 max-w-xs" role="alert">
                                {{ error.messageKey|trans(error.messageData, "security") }}
                            </div>
                        {% endif %}

                        <div>
                            <label for="inputEmail" class="mb-2 block text-sm font-medium text-neutral-900 dark:text-neutral-100">{{ "user.email"|trans }}</label>
                            <input type="email"
                                value="{{ last_username }}"
                                name="_email"
                                id="inputEmail"
                                class="block w-full rounded-lg border p-2.5 sm:text-sm"
                                autocomplete="email"
                                required
                                autofocus />
                        </div>
                        <div>
                            <label for="inputPassword" class="mb-2 block text-sm font-medium text-neutral-900 dark:text-neutral-100"><span class="label-text">{{ "user.password"|trans }}</span></label>
                            <div class="input-group relative" {{ stimulus_controller("password-visibility") }}>
                                <input type="password"
                                    autocomplete="current-password"
                                    data-password-visibility-target="input"
                                    class="block w-full rounded-lg border p-2.5 sm:text-sm"
                                    id="inputPassword"
                                    name="_password"
                                    placeholder="••••••••"
                                    required
                                    spellcheck="false" />
                                <button aria-label="{{ "common.show_password"|trans }}"
                                    class="absolute right-2 top-1/2 -translate-y-1/2 text-neutral-400"
                                    data-action="password-visibility#toggle"
                                    type="button">
                                    {{ component("icon", { icon: "eye", class: "h-5 w-5" }) }}
                                    {{ component("icon", { icon: "eye_slash", class: "h-5 w-5 hidden" }) }}
                                </button>
                            </div>
                        </div>
                        <div class="flex items-center justify-between">
                            <div class="flex items-start">
                                <label class="flex h-5 cursor-pointer items-center">
                                    <input type="checkbox"
                                        name="_remember_me"
                                        class="focus:ring-3 h-4 w-4 cursor-pointer rounded border border-neutral-400 bg-neutral-50 focus:ring-secondary-300 dark:border-neutral-700 dark:bg-neutral-700 dark:ring-offset-neutral-800 dark:focus:ring-secondary-600" />
                                    <span class="ml-3 text-sm text-neutral-500 dark:text-neutral-300">{{ "page.login.remember_me"|trans }}</span>
                                </label>
                            </div>
                            <a href="{{ path("app_forgot_password_request") }}" class="text-sm font-medium text-secondary-600 hover:underline dark:text-secondary-500">
                                {{ "page.login.forgot_password"|trans }}
                            </a>
                        </div>

                        {{ component("button", { content: "page.login.title"|trans, submit: true }) }}

                        <p class="text-sm font-light text-neutral-500 dark:text-neutral-400">
                            {{ "page.login.no_account"|trans }}
                            <a href="{{ path("app_register") }}" class="font-medium text-secondary-600 hover:underline dark:text-secondary-500">{{ "common.register"|trans }}</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
