{% extends "layout.html.twig" %}

{% block title %}
    {{ content.title }}
{% endblock %}

{% block description %}

{% endblock %}

{% block main_title %}
    {{ content.title }}
{% endblock %}

{% block main_body %}
    <section class="flex flex-col gap-8 mx-auto">
        {% if content.createdBy %}
            <span class="flex items-center gap-2">
                <div>
                    {{ component("avatar", { user: content.createdBy }) }}
                </div>

                {{ content.createdBy.profile.username }}
            </span>
        {% endif %}

        <div class="flex gap-2">
            <div class="bg-purple-400 text-neutral-100 text-xs font-medium px-2.5 py-0.5 rounded-full w-max">
                {{ content.type.name }}
            </div>

            {% for category in content.categories.toArray() %}
                <div class="bg-corail-400 text-neutral-100 text-xs font-medium px-2.5 py-0.5 rounded-full w-max">
                    {{ category.name }}
                </div>
            {% endfor %}
        </div>
        <div {{ stimulus_controller("editor-parser") }} data-editor-parser-data-value="{{ content.blocks|json_encode }}">
            <div class="cdx-loader min-h-[300px]" data-editor-parser-target="loading"></div>
            <div class="prose" data-editor-parser-target="content"></div>
        </div>
    </section>
{% endblock %}
