{% block create %}
    {% if app.user %}
        <turbo-stream action="append" target="profile-{{ app.user.profile.id }}-unread">
            <template>
                {% include "icon/notification_unread.html.twig" only %}
            </template>
        </turbo-stream>

        <turbo-stream action="append" target="profile-{{ app.user.profile.id }}-messages">
            <template>
                {{ component("message", { message: entity }) }}
            </template>
        </turbo-stream>
    {% endif %}
{% endblock %}

{% block update %}
    {% if app.user and not app.user.profile.hasUnreadMessage %}
        <turbo-stream action="remove" target="profile-{{ app.user.profile.id }}-unread"></turbo-stream>
    {% endif %}
{% endblock %}

{% block remove %}
    {% if entity.profile.messages is empty %}
        <turbo-stream action="replace" target="message-{{ id }}">
            <template>
                <span class="text-center text-sm mt-2 text-neutral-600 dark:text-neutral-400">{{ 'common.no_notification'|trans }}</span>
            </template>
        </turbo-stream>
    {% else %}
        <turbo-stream action="remove" target="message-{{ id }}"></turbo-stream>
    {% endif %}
{% endblock %}
