{% extends "layout.html.twig" %}

{% block title %}
    {{ "page.homepage.title"|trans }}
{% endblock %}

{% block description %}
    {{ "page.homepage.description"|trans }}
{% endblock %}

{% block main_title %}
    {{ "page.homepage.title"|trans }}
{% endblock %}

{% block main_body %}
    <section class="flex grow items-center justify-center gap-8">
        {% if not app.user %}
            <a href="{{ path("security_login") }}">{{ component("button", { content: "page.login.title"|trans }) }}</a>
            <a href="{{ path("app_register") }}">{{ component("button", { content: "common.register"|trans }) }}</a>
        {% endif %}
    </section>

    <section class="flex flex-col gap-2">
        {% for content in contents %}
            <a
                class="bg-white border border-neutral-400 flex items-center gap-4 p-6 rounded-lg shadow hover:bg-secondary-600 hover:text-neutral-100 dark:bg-neutral-800 dark:border-neutral-700 dark:hover:bg-secondary-400"
                href="{{ path('app_content_show', { slug: content.slug }) }}"
            >
                <span class="bg-purple-200 text-sm font-medium px-2.5 py-0.5 rounded-full w-max dark:bg-purple-700">
                    {{ content.type.name }}
                </span>
                <h5 class="mb-2 text-2xl font-bold tracking-tight">{{ content.title }}</h5>
            </a>
        {% endfor %}
    </section>
{% endblock %}
