{% extends "layout.html.twig" %}

{% block title %}
    {{ "page.homepage.title"|trans }}
{% endblock %}

{% block description %}
    {{ "page.homepage.description"|trans }}
{% endblock %}

{% block main_title %}
    {{ "page.homepage.title"|trans }}
{% endblock %}

{% block main_body %}
    <section class="flex grow items-center justify-center gap-8">
        {% if not app.user %}
            <a href="{{ path("security_login") }}">{{ component("button", { content: "page.login.title"|trans }) }}</a>
            <a href="{{ path("app_register") }}">{{ component("button", { content: "common.register"|trans }) }}</a>
        {% endif %}
    </section>

    <section class="flex flex-col gap-2">
        {% for content in contents %}
            <a
                class="bg-white border border-neutral-400 flex items-center gap-4 p-6 rounded-lg shadow hover:bg-secondary-600 hover:text-neutral-100 dark:bg-neutral-800 dark:border-neutral-700 dark:hover:bg-secondary-400"
                href="{{ path('app_content_show', { slug: content.slug }) }}"
            >
                <span class="bg-purple-400 text-sm font-medium px-2.5 text-neutral-100 py-0.5 rounded-full w-max">
                    {{ ("content.type.#{content.type.value}")|trans }}
                </span>
                <h5 class="text-2xl font-bold tracking-tight">{{ content.title }}</h5>

                {% if content.createdBy %}
                    <span class="flex items-center gap-2 ml-auto">
                        {{ component("image", {
                            alt: "user.profile.picture"|trans({ username: content.createdBy.profile.username }),
                            class: 'rounded-full',
                            filter: "avatar_small",
                            height: 32,
                            src: vich_uploader_asset(content.createdBy.profile.picture, "file"),
                            width: 32,
                        }) }}
                        {{ content.createdBy.profile.username }}
                    </span>
                {% endif %}
            </a>
        {% endfor %}
    </section>
{% endblock %}
