{% trans_default_domain "admin" %}

{% component modal
    with
    {
        title: "page.category_delete.title"|trans,
        modalId: "delete-category-modal",
        openButtonText: "common.delete"|trans,
        openButtonClass: "!bg-danger hover:!bg-danger/80 transition-all",
        closeButtonText: "common.go_back"|trans,
    }
%}
    {% trans_default_domain "admin" %}

    {% block content %}
        {{ "page.category_delete.content"|trans }} <strong class="text-red-600">{{ "common.delete.cannot_be_undone"|trans }}</strong>
    {% endblock %}

    {% block modal_action %}
        {{ parent() }}
        {{ component("button", { id: "delete-category", content: "common.delete"|trans, submit: true, class: "!bg-danger hover:!bg-danger/80 transition-all" }) }}
    {% endblock %}

    {% block modal_box %}
        <form method="post" action="{{ path("admin_category_delete", { id: category.id.toBase32 }) }}">
            <input type="hidden" name="_token" value="{{ csrf_token("delete-" ~ category.id.toBase32) }}" />
            {{ parent() }}
        </form>
    {% endblock %}
{% endcomponent %}
