{% trans_default_domain "messages" %}

<div
    data-controller="dropdown symfony--ux-turbo--mercure-turbo-stream submit"
    {{ turbo_stream_listen('App\\Entity\\Message') }}
    data-action="dropdown:dropdown:show->submit#submit"
>
    {% if app.user %}
        <form action="{{ path('app_message_read_all') }}" method="post" data-submit-target="form">
            <input type="hidden" name="_token" value="{{ csrf_token('read-all-' ~ app.user.id) }}" />
        </form>
        <button
            class="p-2 mr-1 text-gray-500 rounded-lg hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600 relative"
            data-dropdown-target="trigger"
            type="button"
        >
            <span class="sr-only">{{ 'common.view_notifications' }}</span>
            <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"></path></svg>
            <div id="profile-{{ app.user.profile.id }}-unread" class="absolute top-0 right-1">
                {% if app.user.profile.hasUnreadMessage %}
                    {% include "icon/notification_unread.html.twig" only %}
                {% endif %}
            </div>
        </button>
        <div
            class="hidden overflow-y-auto overflow-x-hidden z-50 my-4 max-w-sm text-base list-none bg-white rounded divide-y divide-gray-100 shadow-lg dark:divide-gray-600 dark:bg-gray-700 h-96"
            data-dropdown-target="dropdown"
        >
            <div class="block py-2 px-4 text-base font-medium text-center text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                {{ 'common.notifications'|trans }}
            </div>
            <div id="profile-{{ app.user.profile.id }}-messages" class="flex flex-col-reverse">
                {% for message in app.user.profile.messages %}
                    {{ component("message", { message }) }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
