<div id="message-{{ message.id }}" class="flex py-5 px-5 border-b hover:bg-gray-100 dark:hover:bg-gray-600 dark:border-gray-600" {{ attributes }}>
    <div class="w-full relative">
        <p class="text-gray-500 font-normal text-sm mb-1.5 dark:text-gray-400">
            {{ 'component.notification.new_content_available'|trans({ type: message.content.type.value }) }} <strong>{{ message.content.title|u.truncate(50, '...') }}</strong>
        </p>
        <form class="absolute -top-4 -right-4" action="{{ path('app_message_dismiss', { id: message.id }) }}" method="post">
            <input type="hidden" name="_token" value="{{ csrf_token('delete-' ~ message.id) }}" />
            <button type="submit" class="dark:text-neutral-100">
                <span class="sr-only">{{ 'common.dismiss_notification' }}</span>
                {{ component('icon', { icon: 'x-mark', class: 'h-5 w-5' }) }}
            </button>
        </form>
        <div class="text-xs font-medium text-primary-700 dark:text-primary-400 flex justify-between">
            {% if message.createdAt %}
                <span>{{ message.createdAt|format_datetime }}</span>
            {% endif %}
            {# TODO link #}
            <a href="#">{{ 'component.notification.read'|trans({ type: message.content.type.value }) }}</a>
        </div>
    </div>
</div>
